<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
        <plugin name="tekntek_catalog_toolbar_limit"
                type="TeknTek\CatalogTweaks\Plugin\Catalog\ToolbarLimitPlugin"/>
    </type>
    <type name="Magento\Catalog\Block\Product\Compare\ListCompare">
        <plugin name="tekntek_catalog_compare_list"
                type="TeknTek\CatalogTweaks\Plugin\Catalog\ListComparePlugin"/>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product\Compare\Item\Collection">
        <plugin name="tekntek_catalog_compare_collection"
                type="TeknTek\CatalogTweaks\Plugin\Catalog\CompareCollectionPlugin"/>
    </type>
    <type name="Magento\Catalog\CustomerData\CompareProducts">
        <plugin name="tekntek_catalog_compare_customer_data"
                type="TeknTek\CatalogTweaks\Plugin\Catalog\CustomerData\CompareProductsPlugin"/>
    </type>
    <type name="Magento\Search\Model\Autocomplete">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="10_tekntek_product_suggestions" xsi:type="object">TeknTek\CatalogTweaks\Model\Autocomplete\ProductDataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="TeknTek\CatalogTweaks\Model\Autocomplete\ProductDataProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollectionFactory</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="checkout-data" xsi:type="string">TeknTek\CatalogTweaks\CustomerData\CheckoutData</item>
            </argument>
        </arguments>
    </type>
</config>
