<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="zalopay" translate="label" type="text" sortOrder="95"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ZaloPay Sandbox</label>
                <comment>Sandbox only - do not use real payment credentials.</comment>
                <field id="active" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="app_id" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>App ID</label>
                </field>
                <field id="key1" translate="label" type="obscure" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key 1 / Mac Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="key2" translate="label" type="obscure" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Key 2 / Callback Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="create_order_endpoint" translate="label" type="text" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create Order Endpoint</label>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sandbox_warning" translate="label comment" type="label" sortOrder="80"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sandbox Warning</label>
                    <comment>Sandbox only - do not use real payment credentials.</comment>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="90"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
